body {
  padding-bottom: 0;
  margin-bottom: 0;
}
.test {
  max-width: 80%;
}

/* NAVBAR AND ANIMATION */
.navbar {
  user-select: none;
  background: linear-gradient(-78deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease-in infinite;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#logo {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  transition: opacity 1s ease;
  opacity: 5;
}
#navbar {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
}
.nav-link {
  transition: transform 0.3s ease;
}
.nav-link:hover {
  transform: scale(1.2);
}

/* NAVBAR BUTTONS */
#home,
#skills,
#contacts {
  color: white;
  cursor: pointer;
}
#skills-window p {
  font-weight: 500;
}
.big-texts {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

/* ABOUT SECTION */
#aboutme {
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
}

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

#profile-pic {
  max-width: 20%;
  box-shadow: var(--shadow-elevation-medium);
}

.sizing {
  cursor: pointer;
  transition: 1000ms;
}
.sizing:hover,
.sizing:focus-visible {
  transform: scale(1.2);
  transition: 200ms;
  text-shadow: 5px;
}

/* SKILLS */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
}
.footer-bottom {
  background: linear-gradient(21deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease-in infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* SMALLER SCREENS */
@media (max-width: 700px) {
  #navbar {
    font-size: 1.2rem;
  }
  #profile-pic {
    max-width: 50%;
    height: auto;
  }
}
/* NAV BAR SIZING */
@media (max-width: 700px) {
  #navbar {
    font-size: 1.2rem;
  }
  #profile-pic {
    max-width: 50%;
    height: auto;
  }
}

@media (max-width: 500px) {
  #navbar {
    font-size: 0.8rem;
  }

  #logo {
    font-size: 1.9rem;
  }
  #profile-pic {
    max-width: 50%;
    height: auto;
  }
}

@media (max-width: 300px) {
  #navbar {
    font-size: 0.5rem;
  }

  #logo {
    font-size: 1.5rem;
  }
  #profile-pic {
    max-width: 50%;
    height: auto;
  }
}
