*,
*::before,
*::after{
	box-sizing: border-box;
}
html{
	color-scheme: dark light;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 0;
}
.wrapper{
	display: flex;
	flex-direction: column;
	max-width: 70rem;
	margin-inline: auto;
	padding-inline: 1rem;
	text-align: left;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.wrapper-icons{
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	text-align: center;	
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.icon-image{
	cursor: pointer;
	transition: 1000ms;	
	
}
.icon-image:hover,
.icon-image:focus-visible{	
	transform: translateY(-1rem) scale(1.1);
	transition: 200ms;
	text-shadow: 5px;
}

.site-title{
	font-size:3rem;
	text-align: left;
	
}
.diagonal{
	position: relative;	
}
.diagonal::after{
	content: '';
	background: linear-gradient(-78deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
	background-size: 400% 400%;
	animation: gradient 20s ease-in infinite;
	position: absolute;
	inset: 0;
	transform: skewY(-5deg);
	z-index: -1;
}
@keyframes gradient {
	0% {
	  background-position: 50% 0%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
section{	
	padding-block: 5rem;
}
header{
	height: 5rem;
}
footer{	
	margin-top: 10rem;
	text-align: center;
}
footer li{
	list-style: none;
}