*,
*::before,
*::after{
	box-sizing: border-box;
}
html{
	color: rgb(0, 0, 0);
	background-color: #4b2323;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 0;	
}
#brand{
	margin: 2rem;
}
.wrapper{
	display: flex;
	flex-direction: column;
	max-width: 70rem;
	margin-inline: auto;
	padding-inline: 1rem;
	text-align: left;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.276);
}
.wrapper-icons{
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	text-align: center;	
	text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.357);
}
.icon-image{
	cursor: pointer;
	transition: 1000ms;	
	
}
.icon-image:hover,
.icon-image:focus-visible{	
	transform: translateY(-1rem) scale(1.1);
	transition: 200ms;
	text-shadow: 5px;
}

.site-title{
	font-size:3rem;
	text-align: left;
	
}
.diagonal{
	position: relative;	
	background: linear-gradient(-78deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

@keyframes gradient {
	0% {
	  background-position: 50% 0%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
section{	
	padding-block: 5rem;
}
header{
	height: 5rem;
	
}
footer{	
	margin-top: 10rem;
	text-align: center;
}
footer li{
	list-style: none;
}
.img {
	filter: drop-shadow(3px 3px 1px #000000);
}
.img:hover,
.img::after{
	filter: drop-shadow(3px 3px 20px #00000086);
}
.box {
	--mask:
	  radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
	  radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
	  radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
	  radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
	-webkit-mask: var(--mask);
			mask: var(--mask);
			position: relative;	
	background: linear-gradient(-78deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
@keyframes gradient {
	0% {
	  background-position: 50% 0%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }